.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  &--component {
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  &--fave {
    color: white;

    * {
      font-family: "Lato", sans-serif;
    }
  }
}
