.header {
  background-color: $header-background;

  &__logo {
    width: 5rem;
  }

  &__nav {
    margin-right: 2rem;
    display: flex;

    &--fave {
      display: flex;
    }
    &__item {
      text-decoration: none;
      color: $black;
      font-size: 1.25rem;
      margin-right: 1rem;

      &--fave {
        margin-left: 1rem;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: $black;
        transition: all 250ms ease;
      }
    }
  }
  &__actions {
    align-items: center;
    display: none;

    @media (min-width: $media-md) {
      display: flex;
    }
  }
  &__inner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
  }

  &__hamburger {
    width: 1.5rem;
    display: block;

    @media (min-width: $media-md) {
      display: none;
    }
  }

  &--fave {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
  }
}
