.input {
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  display: block;
  margin-bottom: 1rem;

  @media (min-width: 28.75rem) {
    width: 15rem;
  }

  &--rounded {
    border-radius: 0.5rem;
  }
}
