.modal {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: #005b96;
  border-radius: 0.5rem;
  color: #fff;
  margin: 1rem auto;
  padding: 1rem;
  width: 20rem;
  z-index: 2;
  position: absolute;

  &__header {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    &__btn {
      border-radius: 0.5rem;
      border: 0;
      cursor: pointer;
      padding: 0.5rem 1rem;
      background-color: #ff0000;
      color: #fff;
      transition: all 250ms ease-out;

      &:hover {
        background-color: #c91313;
      }
    }
  }
}
